

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
  }
  
 
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  #result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
  }
  
  #result.true {
    background-color: #4CAF50;
    color: #fff;
  }
  
  #result.false {
    background-color: #f44336;
    color: #fff;
  }
  
  .danger{
    background: red;
    color:white;
  }

  .good
  {
    background: #4CAF50;
  }

  .average{
    background: yellow;
  }

  .medium{
    background: orange;
  }

  .hero-text{
    font-family: 'Chakra Petch', sans-serif;  
  color: #02e3ed;
    text-shadow: 3px 5px 5px black;
    font-size: 2.4rem;
    letter-spacing:2px;
    margin-top: 5rem;
}
